@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Spinwerad';
  src: local('Spinwerad'),
    url('../../assets/fonts/spinwerad.ttf') format('trueType');
  font-display: swap;
}

.chakra-checkbox__control {
  background-color: white;
  border: 2px solid #ff889f !important;
  border-radius: 4px;
}
.chakra-checkbox__control[data-checked] {
  background-color: #ff889f !important;
  outline: none;
}
.chakra-form-control {
  background-color: white;
  border-bottom: 1px solid #ff889f;
  color: black;
  padding: 8px;
}
.chakra-checkbox__label,
.chakra-form-control input::placeholder,
.chakra-form-control textarea::placeholder {
  color: black;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 992px) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
